@using  TrainingProject.Web.ViewModels
@using  TrainingProject.Data.Models

@model HotelViewModel

@{
    ViewBag.Title = "Редактирование отеля";
}
    <form method="post">
        <div class="form-group" style="visibility:hidden;">
            <input type="number" asp-for="@Model.Hotel.Id" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Hotel.Name" class="control-label">Название</label>
            <input type="text" asp-for="@Model.Hotel.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Hotel.Description" class="control-label">Описание</label>
            <input type="text" asp-for="@Model.Hotel.Description" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Hotel.Address" class="control-label">Адрес</label>
            <input type="text" asp-for="@Model.Hotel.Address" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Hotel.Stars" class="control-label">Класс отеля</label>
            <input type="number" asp-for="@Model.Hotel.Stars" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Hotel.IsAppartment" class="control-label">Аппартаменты</label>
            <input type="checkbox" asp-for="@Model.Hotel.IsAppartment" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Страна:</label>
            <select asp-for="@Model.Hotel.CountryId">
                @foreach (Country country in Model.Countries)
                {
                    <option value="@country.Id">@country.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </form>