@using BookingSite.Domain.DTO

@model HotelDTO
@{
    ViewData["Title"] = "Описание отеля";
}

   
        <h3>Описание отеля @Model.Name</h3>
        <div>
            <dl>
                <dt>Страна</dt>
                <dd>@Model.Country.Name</dd>

                <dt>Название</dt>
                <dd>@Model.Name</dd>

                <dt>Описание</dt>
                <dd>@Model.Description</dd>

                <dt>Адрес</dt>
                <dd>@Model.Address</dd>

                <dt>Класс отеля</dt>
                <dd>@Model.Stars</dd>

                <dt>Аппартаменты</dt>
                <dd>@(Model.IsAppartment ? "Да" : "Нет")</dd>
            </dl>
        </div>
        <h4>Комнаты:</h4>
        <table>
            @foreach (var r in Model.Rooms)
            {
                <tr>
                    <td>Максимальное количество гостей: @r.MaxNumberOfGuests</td>
                    <td rowspan="2">
                        <a asp-action="RoomDetails" asp-controller="Home" asp-route-id="@r.Id" asp-route-datefrom="@ViewBag.DateFrom.ToShortDateString()" asp-route-dateto="@(ViewBag.DateTo.ToShortDateString())">Подробнее</a>
                    </td>

                    <td rowspan="2">
                        @if (r.IsCanBeBooked)
                        {
                        <form method="post" asp-controller="Home" asp-action="Book">
                            <input type="submit" value="Забронировать"/>
                            <input type="hidden" value="@r.Id" name="id" />
                            <input type="hidden" value="@(ViewBag.DateFrom.ToShortDateString())" name="datefrom" />
                            <input type="hidden" value="@(ViewBag.DateTo.ToShortDateString())" name="dateto" />
                        </form>
                        }
                        else
                        {
                            <label>На эти даты комната недоступна</label>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        Цена: @r.Price
                    </td>
                </tr>
            }
        </table>

