@using BookingSite.Web.ViewModels
@using BookingSite.Data.Models

@model FilterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Список пользователей";
}

    <form method="get" asp-controller="Home" asp-action="SearchResult"
          asp-route-name="@Model.SelectedName"
          asp-route-country="@Model.SelectedCountry"
          asp-route-datefrom="@Model.SelectedDateFrom.ToShortDateString()"
          asp-route-dateto="@Model.SelectedDateTo.ToShortDateString()">
        <label style="color: red;" class="@ViewBag.IsRequiredDate">Поля "Дата С" и "Дата ПО" должны быть заполнены</label>
        <label style="color: red;" class="@ViewBag.IsNotCopmpareDate">"Дата С" должна быть меньше, чем "Дата ПО". </label>
        <label style="color: red;" class="@ViewBag.IsNotFutureDate">Даты должны быть старше текущей даты.</label>
        <br /><br />
        <div>
            <label>Название: </label>
            <input name="name" value="@Model.SelectedName" />

            <label>Страна: </label>
            <select name="country" value="@Model.SelectedCountry" asp-items="Model.Countries"></select>

            <label>Дата с: </label>
            <input name="datefrom" value="@(Model.SelectedDateFrom==DateTime.MinValue?"":@Model.SelectedDateFrom.ToShortDateString())" />

            <label>Дата по: </label>
            <input name="dateto" value="@(Model.SelectedDateTo==DateTime.MinValue?"":@Model.SelectedDateTo.ToShortDateString())" />

            <input type="submit" value="Фильтр" />
        </div>
    </form>








