@using  BookingSite.Web.ViewModels
@using  BookingSite.Data.Models

@model RoomViewModel

@{
    ViewBag.Title = "Редактирование комнаты";
}
    <form method="post">
        <div class="form-group" style="visibility:hidden;">
            <input type="number" asp-for="@Model.Room.Id" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Описание</label>
            <input type="text" asp-for="@Model.Room.Description" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Максимальное количество гостей</label>
            <input type="number" asp-for="@Model.Room.MaxNumberOfGuests" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Цена</label>
            <input type="number" asp-for="@Model.Room.Price" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Балкон</label>
            <input type="checkbox" asp-for="@Model.Room.HasBalcony" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Кухня</label>
            <input type="checkbox" asp-for="@Model.Room.HasKitchen" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Отель:</label>
            <select asp-for="@Model.Room.HotelId">
                @foreach (Hotel hotel in Model.Hotels)
                {
                    <option value="@hotel.Id">@hotel.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </form>