@using BookingSite.Data.Models

@model Room
@{
    ViewBag.Title = "Описание отеля";
}
<h2>Описание комнаты @Model.Description</h2>
<div>
    <dl class="dl-horizontal">

        <dt>Отель</dt>
        <dd>@Model.Hotel.Name</dd>

        <dt>Максимальное число гостей</dt>
        <dd>@Model.MaxNumberOfGuests</dd>

        <dt>Цена</dt>
        <dd>@Model.Price</dd>

        <dt>Балкон</dt>
        <dd>@Model.HasBalcony</dd>

        <dt>Кухня</dt>
        <dd>@Model.HasKitchen</dd>
    </dl>
</div>