@using BookingSite.Web.ViewModels
@using BookingSite.Data.Models

@model HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Список пользователей";
}

<form method="get">
    <div>
        <label>Название: </label>
        <input asp-for="@Model.FilterViewModel.SelectedName" disabled="@ViewBag.IsFiltered" />

        <label>Страна: </label>
        <select asp-for="@Model.FilterViewModel.SelectedCountry" asp-items="Model.FilterViewModel.Countries" disabled="@ViewBag.IsFiltered" ></select>

        <label>Дата с: </label>
        <input asp-for="@Model.FilterViewModel.SelectedDateFrom" disabled="@ViewBag.IsFiltered" />

        <label>Дата по: </label>
        <input asp-for="@Model.FilterViewModel.SelectedDateTo" disabled="@ViewBag.IsFiltered" />

        <input type="submit" value="Фильтр" disabled="@ViewBag.IsFiltered"/>
    </div>
    <br />
</form>


<table class="table">
    <tr>
        <th>
            <a asp-action="SearchResult" asp-route-issort="true"
               asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-country="@(Model.FilterViewModel.SelectedCountry)"
               asp-route-datefrom="@(Model.FilterViewModel.SelectedDateFrom)"
           asp-route-dateto="@(Model.FilterViewModel.SelectedDateTo)">Имя</a>
        </th>
        <th>
            <a asp-action="SearchResult" asp-route-issort="true"
               asp-route-sortOrder="@(Model.SortViewModel.StarsSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-country="@(Model.FilterViewModel.SelectedCountry)"
               asp-route-datefrom="@(Model.FilterViewModel.SelectedDateFrom)"
           asp-route-dateto="@(Model.FilterViewModel.SelectedDateTo)">Звёзды</a>
        </th>
        <th>
            <a asp-action="SearchResult" asp-route-issort="true"
               asp-route-sortOrder="@(Model.SortViewModel.CountrySort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-country="@(Model.FilterViewModel.SelectedCountry)"
               asp-route-datefrom="@(Model.FilterViewModel.SelectedDateFrom)"
               asp-route-dateto="@(Model.FilterViewModel.SelectedDateTo)">Компания</a>
        </th>
    </tr>
    @foreach (var h in Model.Hotels)
    {
        <tr>
            <td><a asp-action="HotelDetails" asp-controller="Home" asp-route-id="@h.Id" asp-route-datefrom="@(Model.FilterViewModel.SelectedDateFrom)" asp-route-dateto="@(Model.FilterViewModel.SelectedDateTo)">@h.Name</a></td>
            <td>@h.Stars</td>
            <td>@h.Country.Name</td>
        </tr>
    }
</table>
<br />
<page-link page-model="Model.PageViewModel" page-action="SearchResult"
           page-url-name="@(Model.FilterViewModel.SelectedName)"
           page-url-country="@(Model.FilterViewModel.SelectedCountry)"
           page-url-sortorder="@(Model.SortViewModel.Current)"
           page-url-datefrom="@(Model.FilterViewModel.SelectedDateFrom)"
           page-url-dateto="@(Model.FilterViewModel.SelectedDateTo)">
</page-link>







