@using  BookingSite.Web.ViewModels
@using  BookingSite.Data.Models

@model HotelViewModel

@{
    ViewBag.Title = "Редактирование отеля";
}
    <form method="post">
        <div style="visibility:hidden;">
            <input type="number" asp-for="@Model.Hotel.Id" />
        </div>
        <div>
            <label asp-for="@Model.Hotel.Name">Название</label>
            <input type="text" asp-for="@Model.Hotel.Name" />
        </div>
        <div>
            <label asp-for="@Model.Hotel.Description">Описание</label>
            <input type="text" asp-for="@Model.Hotel.Description" />
        </div>
        <div>
            <label asp-for="@Model.Hotel.Address">Адрес</label>
            <input type="text" asp-for="@Model.Hotel.Address" />
        </div>
        <div>
            <label asp-for="@Model.Hotel.Stars">Класс отеля</label>
            <input type="number" asp-for="@Model.Hotel.Stars" />
        </div>
        <div>
            <label asp-for="@Model.Hotel.IsAppartment">Аппартаменты</label>
            <input type="checkbox" asp-for="@Model.Hotel.IsAppartment" />
        </div>
        <div>
            <label>Страна:</label>
            <select asp-for="@Model.Hotel.CountryId">
                @foreach (var country in Model.Countries)
                {
                    <option value="@country.Id">@country.Name</option>
                }
            </select>
        </div>
        <div>
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </form>