@using  BookingSite.Web.ViewModels
@using  BookingSite.Data.Models

@model HotelViewModel

@{
    ViewBag.Title = "Добавление Отеля";
}
<h3>Добавление отеля</h3>
<form method="post">
    <div>
        <label>Страна:</label>
        <select asp-for="@Model.Hotel.CountryId">
            @foreach (var country in Model.Countries)
            {
                <option value="@country.Id">@country.Name</option>
            }
        </select>
    </div>
    <div>
        <label>Имя</label>
        <input type="text" asp-for="@Model.Hotel.Name" />
    </div>
    <div>
        <label>Описание</label>
        <input type="text" asp-for="@Model.Hotel.Description" />
    </div>
    <div>
        <label>Адрес</label>
        <input type="text" asp-for="@Model.Hotel.Address" />
    </div>
    <div>
        <label>Звёзды</label>
        <input type="number" asp-for="@Model.Hotel.Stars" />
    </div>
    <div>
        <label>Аппартаменты</label>
        <input type="checkbox" asp-for="@Model.Hotel.IsAppartment" />
    </div>
    <br /><br />
    <input type="submit" value="Отправить" />
</form>

