

    <form>
        @await Html.PartialAsync("~/Views/PartialView/HotelDetails.cshtml")
        <a asp-controller="Manage" asp-action="RoomCreate" asp-route-hotelId="@Model.Id">Добавить комнату</a>
        <table>

            @foreach (var r in Model.Rooms)
            {
                <tr>
                    <td>Максимальное количество гостей: @r.MaxNumberOfGuests</td>
                    <td rowspan="2">
                        <a asp-action="RoomDetails" asp-controller="Manage" asp-route-id="@r.Id">Подробнее</a> |
                        <a asp-action="RoomEdit" asp-controller="Manage" asp-route-id="@r.Id">Изменить</a> |
                        <a asp-action="RoomDelete" asp-controller="Manage" asp-route-id="@r.Id" onclick="javascript:return confirm('Вы действительно хотите удалить данную комнату?')">Удалить</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Цена: @r.Price
                    </td>
                </tr>
            }
        </table>
    </form>
