@using  BookingSite.Web.ViewModels
@using  BookingSite.Data.Models
@using BookingSite.Common.Enums;

@model HotelViewModel
@{
    ViewBag.Title = "Редактирование отеля ";
}
<h3>Редактирование отеля @Model.Hotel.Name</h3>

<form asp-controller="Manage" asp-action="HotelEdit">
    <div style="visibility:hidden;">
        <input type="number" asp-for="@Model.Hotel.Id" />
    </div>
    <div>
        <label asp-for="@Model.Hotel.Name">Название</label>
        <input type="text" asp-for="@Model.Hotel.Name" />
    </div>
    <div>
        <label asp-for="@Model.Hotel.Description">Описание</label>
        <input type="text" asp-for="@Model.Hotel.Description" />
    </div>
    <div>
        <label asp-for="@Model.Hotel.Address">Адрес</label>
        <input type="text" asp-for="@Model.Hotel.Address" />
    </div>
    <div>
        <label asp-for="@Model.Hotel.Stars">Класс отеля (кол-во звёзд)</label>
        <select asp-for="@Model.Hotel.Stars" asp-items="Html.GetEnumSelectList<Stars>()"></select>
    </div>
    <div>
        <label asp-for="@Model.Hotel.IsAppartment">Аппартаменты</label>
        <input type="checkbox" asp-for="@Model.Hotel.IsAppartment" />
    </div>
    <div>
        <label>Страна:</label>
        <select asp-for="@Model.Hotel.CountryId">
            @foreach (var country in Model.Countries)
            {
                <option value="@country.Id">@country.Name</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Сохранить" />
    </div>
</form>