@using BookingSite.Domain.DTO

@model HotelDTO
@{
    ViewBag.Title = "Описание отеля";
}
<h2>Описание отеля @Model.Name</h2>
<div>
    <dl>

        <dt>Страна</dt>
        <dd>@Model.Country.Name</dd>

        <dt>Название</dt>
        <dd>@Model.Name</dd>

        <dt>Описание</dt>
        <dd>@Model.Description</dd>

        <dt>Адрес</dt>
        <dd>@Model.Address</dd>

        <dt>Класс отеля</dt>
        <dd>@Model.Stars</dd>

        <dt>Аппартаменты</dt>
        <dd>@Model.IsAppartment</dd>
    </dl>
</div>

<form>
    <a href="~/Manage/RoomCreate?hotelId=@Model.Id">Добавить комнату</a>
    <table class="table">

        @foreach (var r in Model.Rooms)
        {
            <tr>
                <td>Максимальное количество гостей: @r.MaxNumberOfGuests</td>
                <td rowspan="2">
                    <a asp-action="RoomDetails" asp-controller="Manage" asp-route-id="@r.Id">Подробнее</a> |
                    <a asp-action="RoomEdit" asp-controller="Manage" asp-route-id="@r.Id">Изменить</a> |
                    <a asp-action="RoomDelete" asp-controller="Manage" asp-route-id="@r.Id" onclick="javascript:return confirm('Вы действительно хотите удалить данную комнату?')">Удалить</a>
                </td>
            </tr>
            <tr>
                <td>
                    Цена: @r.Price
                </td>
            </tr>
        }
    </table>
</form>
