@using BookingSite.Web.ViewModels
@using BookingSite.Data.Models

@model HomeViewModel
@{
    ViewData["Title"] = "Home Page Booking";
}

    <form>
        <a asp-action="HotelCreate">Добавить отель</a>
        <br/><br />
        <table>
            @foreach (var h in Model.Hotels)
            {
                <tr>
                    <td>@h.Name</td>
                    <td>
                        <a asp-action="HotelDetails" asp-controller="Manage" asp-route-id="@h.Id">Подробнее</a> |
                        <a asp-action="HotelEdit" asp-controller="Manage" asp-route-id="@h.Id">Изменить</a> |
                        @if (@h.Rooms != null && @h.Rooms.Count > 0)
                        {
                            <label>Чтобы удаление стало доступно, удалите сперва комнаты</label>
                        }
                        else
                        {
                            <a asp-action="HotelDelete" asp-controller="Manage" asp-route-id="@h.Id" onclick="javascript:return confirm('Вы действительно хотите удалить данный отель?')">Удалить</a>
                        }
                    </td>
                </tr>
            }
        </table>
    </form>



