@using BookingSite.Web.ViewModels
@using BookingSite.Data.Models

@model HomeViewModel
@{
    ViewData["Title"] = "Home Page Booking";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}

<form class="form-inline">
    <a asp-action="HotelCreate">Добавить отель</a>
    <table class="table">

        @foreach (var h in Model.Hotels)
        {
            <tr>
                <td>@h.Name</td>
                <td>
                    <a asp-action="HotelDetails" asp-controller="Manage" asp-route-id="@h.Id">Подробнее</a> |
                    <a asp-action="HotelEdit" asp-controller="Manage" asp-route-id="@h.Id">Изменить</a> |
                    <a asp-action="HotelDelete" asp-controller="Manage" asp-route-id="@h.Id" onclick="javascript:return confirm('Вы действительно хотите удалить данный отель?')">Удалить</a>
                </td>
            </tr>
        }
    </table>
</form>



