@using  BookingSite.Web.ViewModels
@using  BookingSite.Data.Models

@model RoomViewModel
@{
    ViewData["Title"] = "Редактирование комнаты ";
}

    <form method="post">
        <h3>Редактирование комнаты @Model.Description</h3>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div style="visibility:hidden;">
            <input type="number" asp-for="@Model.Id" />
        </div>
        <div>
            <label>Описание</label>
            <input type="text" asp-for="@Model.Description" />
            <span asp-validation-for="@Model.Description"></span>
        </div>
        <div>
            <label>Максимальное количество гостей</label>
            <input type="number" asp-for="@Model.MaxNumberOfGuests" />
            <span asp-validation-for="@Model.MaxNumberOfGuests"></span>
        </div>
        <div>
            <label>Цена</label>
            <input type="number" asp-for="@Model.Price" />
            <span asp-validation-for="@Model.Price"></span>
        </div>
        <div>
            <label>Балкон</label>
            <input type="checkbox" asp-for="@Model.HasBalcony" />
        </div>
        <div>
            <label>Кухня</label>
            <input type="checkbox" asp-for="@Model.HasKitchen" />
        </div>
        <div>
            <label>Отель:</label>
            <select asp-for="@Model.HotelId" disabled="disabled">
                @foreach (var hotel in Model.Hotels)
                {
                    <option value="@hotel.Id">@hotel.Name</option>
                }
            </select>
        </div>
        <div>
            <br />
            <input type="submit" value="Сохранить" />
        </div>
    </form>